<!DOCTYPE html>
<html>
	
<head>
  <title>Welcom to Kityzon</title>
   <link rel="stylesheet" href="./style.css"/>
   <script src="./script.js"></script>
 </head>
			
			
			<!-- Navigation Bar -->
			<nav>
			  <div id="home">
			    <div class="customer_service">
			      Silver
			      <div class="contact_info">
			        <img src="../html_images/envelope.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
			      silver@kitymail.com
			    </div>
			    <div style="clear:both;"></div>
			    <div class="contact_info">
			      <img src="../html_images/phone.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
			      +12364598
		 
			    </div>
			  </div>    
			</nav>
			
			<!-- Login -->
			</div>
			    </div>
			    <div class="topdiv">
			      <a class="topmenu" href="#log-in">Log In</a>
			    

			    </div>
			  </div>    
			</nav>

			<!-- About Kityzon-->
			<section id="about_kityzon" class="container">
			  <div>
			    <img src="../html_images/waving-hand.gif" class="profile_image"/>
			  </div>

			  <div>
			           <h1>
			             Welcom to KityZon! <img src="../html_images/blowing-kisses.gif" width="60px"/>
			           </h1>
			           <p>
			             Kityzon is a international shopping platform.                                                                                                                                                                                
			             Here you can find various kind of international products.                                                                                                                                                                               
			             Our product quality is promising and shipping is fast.                                                                                                                                                                              
						 Thank you for using Kityzon and hope you enjoy shopping with us!
			           </p>
			       </div>
			     </section>
			  
			  
			  <div class="search-container">
			      <h1>Search Products</h1>
			      <!-- Input field to add new search -->
			      <input type="text" id="taskInput" placeholder="Add a new search">
			      
			      <!-- Button to add a new search to the list -->
			      <button class="add-btn" onclick="addSearch()">Search</button>
			      
			      <!-- Unordered list to display the searchs -->
			      <ul class="search-list" id="searchList"></ul>
			  </div>

			
    </body>
</html>