<!DOCTYPE html>
<html>
	
<head>
  <title>Search results for Yoga Mat</title>
   <link rel="stylesheet" href="./style.css"/>
   <script src="./script.js"></script>
 </head>
 
 <table>
   <tr>
     <th>Name</th>
     <th>Brand</th>
     <th>Price</th>
   </tr>
   <tr>
     <td>Anti Tear Exercise Yoga Mat</td>
     <td>Pinklim </td>
     <td>$21.98</td>
   </tr>
   <tr>
     <td>Eco Friendly Non Slip Yoga Mat</td>
     <td>Ambesonne</td>
     <td>$14.99</td>
   </tr>
   
   <tr>
      <td>All Purpose 1/4 Inch High Density Yoga Mat</td>
      <td>DoMouse</td>
      <td>$24.99</td>
    </tr>
 </table>

 </html>