/* select all elements */
*{
    color: blue;
}

/* select all <p> element*/
p{
    color: blue;
}

/* select element with a specific id*/
/*<li id=""> CA </li> */
#li-ca{
    color:blue;
}


/* */




/* */



/* */


/* */


/* */


/* */