 .button {
     background-color: #03a9f4;
     border: none;
     font-size: 1.5rem;
     padding: 20px;
     cursor: pointer;
     border-radius: 10px;
     transition: background-color 0.3s, transform 0.2s;
     color: white;
     width: 100%;
 }

 .display {
     width: 100%;
     height: 50px;
     text-align: right;
     font-size: 1.5rem;
     padding: 0 10px 0 10px;
     margin: 0;
     border: none;
     background-color: #ffeb3b;
     color: #333;
 }


 #displayOperations {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 }
 
 #display {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
 }


 .calculator td {
    width: 25px;
 }